<section class="flex flex-col shadow m-10 p-10">
    <h3 class="m-10">Activities</h3>
    <div class="flex flex-jc m-10 p-10">
        <div class="step flex flex-col flex-ac f-1 font-light text-center">
            Do something
        </div>
        <div class="step flex flex-col flex-ac f-1 font-light text-center">
            Do other thing
        </div>
        <div class="step flex flex-col flex-ac f-1 font-light text-center">
            Try this thing
        </div>
        <div class="step flex flex-col flex-ac f-1 font-light text-center">
            Add this info
        </div>
        <div class="step flex flex-col flex-ac f-1 font-light text-center">
            Try contacting someone
        </div>
    </div>
</section>