<section class="flex flex-col shadow m-10 o-a">
  <h1 class="m-10">Feed</h1>
  <div class="flex border bg-w p-10 m-5 f-1 post-lancer">
    <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
    <div class="flex flex-col flex-sa-c m-5">
      <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
      <div>Web Designer</div>
      <div>Rating: <strong>5</strong></div>
    </div>
  </div>
  <div class="flex border bg-w p-10 m-5 f-1 post-lancer">
    <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
    <div class="flex flex-col flex-sa-c m-5">
      <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
      <div>Web Designer</div>
      <div>Rating: <strong>5</strong></div>
    </div>
  </div>
  <div class="flex border bg-w p-10 m-5 f-1 post-lancer">
    <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
    <div class="flex flex-col flex-sa-c m-5">
      <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
      <div>Web Designer</div>
      <div>Rating: <strong>5</strong></div>
    </div>
  </div>
  <div class="flex border bg-w p-10 m-5 f-1 post-lancer">
    <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
    <div class="flex flex-col flex-sa-c m-5">
      <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
      <div>Web Designer</div>
      <div>Rating: <strong>5</strong></div>
    </div>
  </div>
  <div class="flex border bg-w p-10 m-5 f-1 post-lancer">
    <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
    <div class="flex flex-col flex-sa-c m-5">
      <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
      <div>Web Designer</div>
      <div>Rating: <strong>5</strong></div>
    </div>
  </div>
</section>