<aside class="flex flex-col shadow p-10 m-10">
    <div class="flex flex-col flex-c-c">
        <a href="/profile"><img src="https://via.placeholder.com/100x100" width="100px" height="100px" alt="logo" class="circle m-10"></a>
        <div class="font-semi-bold">Hey, Rokas</div>
    </div>
    <hr class="m-10">
    <ul class="flex flex-col flex-start m-10">
        <li class="m-5">List item</li>
        <li class="m-5">List item</li>
        <li class="m-5">List item</li>
        <li class="m-5">List item</li>
        <li class="m-5">List item</li>
    </ul>
</aside>