<section class="flex flex-col shadow p-10 m-10">
    <h2>Trending</h2>
    <div class="flex flex-col p-10">
        <div class="flex flex-col">
            <div class="flex border hover-scale bg-w p-10 m-5 f-1 post-lancer">
                <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
                <div class="flex flex-col flex-sa-c m-5">
                    <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
                    <div>Web Designer</div>
                    <div>Rating: <strong>5</strong></div>
                </div>
            </div>

            <div class="flex border hover-scale bg-w p-10 m-5 f-1 post-lancer">
                <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
                <div class="flex flex-col flex-sa-c m-5">
                    <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
                    <div>Web Designer</div>
                    <div>Rating: <strong>5</strong></div>
                </div>
            </div>

            <div class="flex border hover-scale bg-w p-10 m-5 f-1 post-company">
                <a href="/profile"><img src="https://via.placeholder.com/70x70" width="70px" height="70px" alt="logo" class="circle m-10"></a>
                <div class="flex flex-col flex-sa-c m-5">
                    <div class="font-semi-bold text-center">Vardenis Pavardenis</div>
                    <div>Company</div>
                    <div>Rating: <strong>5</strong></div>
                </div>
            </div>
        </div>
    </div>
</section>